<html>
  <head></head>
  <body>
    <h1>
      <a href='/'>Wiki SQL with Sequelize</a>
    </h1>
    {% if (name || tag) %}
      <a href='/'>All Stories</a>
    {% endif %}
    <div>
      <form action='/tag/'>
        <div>
          <label>Search By Tag</label>
          <br />
          <input name='tag' value='{{ tag }}' />
        </div>
        <button type='submit'>Search</button>
      </form>
    </div>
    {% if (name) %}
     <form method='POST' action='/{{name}}?_changeMethod=DELETE'>
      <div>
        <label>User</label>
        <br />
        <input name='name' value="{{ name }}" />
      </div>
           <button type='submit'>Delete</button>
    </form> 
    {% else %}
    <form method='POST' action='/'>
      <div>
        <label>User</label>
        <br />
        <input name='name' value="{{ name }}" />
      </div>
      <div>
        <label>Tite</label>
        <br />
        <input name='title' />
      </div>
      <div>
        <label>Content</label>
        <br />
        <input name='content' />
      </div>
      <div>
        <label>Tags</label>
        <br />
        <input name='tags' />
      </div>
      <button type='submit'>Save</button>
    </form>
 {% endif %}
    <ul>
      {% for story in stories %}
        <li>
          <a href='story/{{story.id}}'>{{ story.title }} </a> 
          <form method='POST' action='/story/{{story.id}}?_changeMethod=DELETE'>
          <button type='submit'>
          DELETE!!!!
          </button>
          </form>
          <a href='/{{story.user.name}}'>{{ story.user.name }}</a>
          <ul>
            {% for tag in story.tags %}
              <li>{{ tag }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
